fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt
python-jose[cryptography]
pydantic[email]
pydantic-settings
python-dotenv
httpx
python-multipart
qdrant-client
fastembed
numpy
onnxruntime
tokenizers
huggingface-hub
groq
pymupdf
email-validator
